@model CapstoneProject_IMS.Models.Change

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Change</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalTicket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalTicket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalTicketUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalTicketUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationEmail)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamEmail)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ChangeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
