@model IEnumerable<CapstoneProject_IMS.Models.Change>

@{
    ViewData["Title"] = "Incomplete Changes";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New Change</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChangeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalTicketUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExternalTicket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExternalTicketUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChangeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChangeId">Details</a>
                <!--<a asp-action="Delete" asp-route-id="@item.ChangeId">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
