@model IEnumerable<CapstoneProject_IMS.Models.IncidentAnnotation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnotationContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnotationVisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Incident)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnotationContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnotationVisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Incident.ExternalTicket)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnnotationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnnotationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnnotationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
